.weatherH1 {
  text-align: center;
}
.pDesc {
  margin-bottom: 0;
}
.pTimeOfDay {
  font-size: .75rem;
}
.iconAndTemp {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.weatherIconWrapper {
  width: 200px;
  height: 200px;
  margin: -2rem 0 -2rem -3rem;
}
.temperature {
 font-size: 4rem;
 font-weight: bold;
 text-align: center;
 margin-left: -1rem;
}