.weatherH1 {
  text-align: center;
  margin-bottom: -30px;
}
.weatherIconWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 200px;
  margin-bottom: -30px;
}
.temperature {
 font-size: 4rem;
 font-weight: bold;
 text-align: center;
 margin-left: -2rem;
}