// Core
@import "../../core/bootstrap/functions";
@import "../../core/brand/variables";

// Mixins
@import "../../core/bootstrap/mixins";

@import '../../core/bootstrap/buttons';

// Hero
.landingHero {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


// Section Titles
.section--Separator, .section--Features {
  padding-top: 6rem;
}



// Utilities
.no-mt {
  margin-top: 0px;
}