@import "../../styles/core/bootstrap/functions";
@import "../../styles/core/bootstrap/variables";

// Mixins
@import "../../styles/core/bootstrap/mixins/";

// Buttons
@import "../../styles/core/bootstrap/buttons";

.savedSearchWrapper {
  position: relative;
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: solid 1px rgba($color: #fff, $alpha: 0.6);
  background-color: rgba($color: #1468d6, $alpha: 0.2);
  margin-top: .125rem;
}

.btn-dismiss {
  position: absolute;
  top: -.125rem;
  right: .5rem;
  color: white;
  padding: 0;
}